<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>쓰레기 공작소</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/encyclopedia.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="icon" href="/images/leaf.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="/images/leaf.png" alt="logo" />

        <a href="/"> 쓰레기 공작소 </a>
      </div>
      <span id="toggle"> <i class="fa-solid fa-bars"></i></span>
      <div class="navbar">
        <a href="/"> 홈 </a>

        <a href="/login"> 로그인 </a>
      </div>
    </div>

    <div class="item">
      <img src="/wiki/1.jpg" alt="도감 아이템 사진" />
      <div class="item-detail">
        <p class="item-id">No. 001</p>
        <p class="item-name">갑티슈</p>
        <nav class="trash-type">
          <div class="regular-waste">일반쓰레기</div>
          <div class="paper-waste">종이류</div>
          <div class="plastic-waste">플라스틱류</div>
          <div class="glass-waste">유리병류</div>
          <div class="can-waste">캔류</div>
          <div class="scrap-waste">고철류</div>
          <div class="cloth-waste">의류</div>
          <div class="electronic-waste">전자제품 및 전지류</div>
          <div class="styrofoam-waste">스티로폼류</div>
          <div class="vinyl-waste">비닐류</div>
          <div class="fluorescent-waste">형광등</div>
          <div class="food-waste">음식물쓰레기</div>
          <div class="household-waste">대형가정폐기물</div>
        </nav>

        <hr />

        <p class="item-description">
          티슈는 두루마리 휴지와 달리 물에 녹지 않기 때문에 화장실 변기에 버리지
          말고 일반쓰레기로 분리배출해야 합니다. 티슈 갑은 겉에 있는 스티커나
          비닐을 모두 제거해 종이류로 분리배출해야 합니다.
        </p>
      </div>
    </div>

    <div class="footer">&copy; 쓰레기 공작소 2023</div>
  </body>
</html>
