<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/home.css" />
    <link rel="icon" href="/images/leaf.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>쓰레기 공작소</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="/images/leaf.png" alt="logo" />

        <a href="/"> 쓰레기 공작소 </a>
      </div>
      <span id="toggle"> <i class="fa-solid fa-bars"></i></span>
      <div class="navbar">
        <a href="/"> 홈 </a>

        <a href="/login"> 로그인 </a>
      </div>
    </div>
    <div class="main">
      <div
        class="animate__animated animate__fadeInUp animate__slow main-content"
      >
        <h1>쓰레기 공작소 재활용!</h1>
        <p>
          국회는 국가의 예산안을 심의·확정한다. 예비비는 총액으로 국회의 의결을
          얻어야 한다. 예비비의 지출은 차기국회의 승인을 얻어야 한다. 국군의
          조직과 편성은 법률로 정한다.
        </p>
        <div class="buttons">
          <a href="/map"><span>지도</span> <img src="/images/map.png" /> </a>
          <a href="/scan"><span>스캔</span> <img src="/images/scan.png" /></a>
          <a href="/test"
            ><span>도감</span> <img src="/images/recycle.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="footer">&copy; 쓰게기 공작소 2023</div>
    <!-- 
        background image sourced from
        <a href="https://www.freepik.com/free-vector/flat-recycling-landing-page-template_5070957.htm#page=2&query=recycling%20landing%20page&position=6&from_view=search&track=ais">Image by pikisuperstar</a> on Freepik
        icons sourced from
        flaticon.io
      -->
    <script
      src="https://kit.fontawesome.com/dfb093cc90.js"
      crossorigin="anonymous"
      type="text/javascript"
    ></script>
    <script>
      let isOpened = false;
      const navbar = document.querySelector("div.navbar");
      document
        .getElementById("toggle")
        .addEventListener("click", function (event) {
          if (isOpened) {
            navbar.className = "navbar animate__animated animate__fadeOutUp";
            setTimeout(() => {
              navbar.style.display = "none";
            }, 500);
          } else {
            navbar.style.display = "flex";
            navbar.className = "navbar animate__animated animate__fadeInDown";
          }
          isOpened = !isOpened;
        });
    </script>
  </body>
</html>
