<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="icon" href="/images/leaf.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>쓰레기 공작소</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="/images/leaf.png" alt="logo" />

        <a href="/"> 쓰레기 공작소 </a>
      </div>
      <span id="toggle"> <i class="fa-solid fa-bars"></i></span>
      <div class="navbar">
        <a href="/"> 홈 </a>

        <a href="/login"> 로그인 </a>
      </div>
    </div>
    <div class="main">
      <div class="animate__animated animate__fadeInUp animate__slow login-page">
        <div class="form">
          <form method="POST" action="/signup" class="register-form">
            <h1>회원가입</h1>
            <input
              type="text"
              name="username"
              maxlength="16"
              placeholder="아이디"
            />
            <input type="password" name="password" placeholder="비밀번호" />
            <input
              type="password"
              name="password_confirmation"
              placeholder="비밀번호 확인"
            />
            <input type="email" name="email" placeholder="이메일 주소" />
            <div class="profile-images">
              <div class="profile-image">
                <input
                  type="radio"
                  name="profile"
                  value="1"
                  id="profile1"
                  checked
                />
                <label for="profile1">
                  <img src="/images/profiles/1.png" alt="/" />
                </label>
              </div>
              <div class="profile-image">
                <input type="radio" name="profile" value="2" id="profile2" />
                <label for="profile2">
                  <img src="/images/profiles/2.png" alt="/" />
                </label>
              </div>
              <div class="profile-image">
                <input type="radio" name="profile" value="3" id="profile3" />
                <label for="profile3">
                  <img src="/images/profiles/3.png" alt="/" />
                </label>
              </div>
              <div class="profile-image">
                <input type="radio" name="profile" value="4" id="profile4" />
                <label for="profile4">
                  <img src="/images/profiles/4.png" alt="/" />
                </label>
              </div>
              <div class="profile-image">
                <input type="radio" name="profile" value="5" id="profile5" />
                <label for="profile5">
                  <img src="/images/profiles/5.png" alt="/" />
                </label>
              </div>
              <div class="profile-image">
                <input type="radio" name="profile" value="6" id="profile6" />
                <label for="profile6">
                  <img src="/images/profiles/6.png" alt="/" />
                </label>
              </div>
              <div class="profile-image">
                <input type="radio" name="profile" value="7" id="profile7" />
                <label for="profile7">
                  <img src="/images/profiles/7.png" alt="/" />
                </label>
              </div>
              <div class="profile-image">
                <input type="radio" name="profile" value="8" id="profile8" />
                <label for="profile8">
                  <img src="/images/profiles/8.png" alt="/" />
                </label>
              </div>
            </div>
            <button>가입하기</button>
            <p class="message">
              계정이 이미 있나요? <a href="#">로그인 하기</a>
            </p>
          </form>
          <form method="POST" action="/login" class="login-form">
            <h1>로그인</h1>
            <input
              type="text"
              name="username"
              maxlength="16"
              placeholder="아이디"
            />
            <input type="password" name="password" placeholder="비밀번호" />
            <button>로그인</button>
            <p class="message">
              아직 계정이 없나요? <a href="#">회원가입 하기</a>
            </p>
          </form>
        </div>
      </div>
    </div>
    <div class="footer">&copy; 쓰레기 공작소 2023</div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- 
        background image sourced from
        <a href="https://www.freepik.com/free-vector/flat-recycling-landing-page-template_5070957.htm#page=2&query=recycling%20landing%20page&position=6&from_view=search&track=ais">Image by pikisuperstar</a> on Freepik
        icons sourced from
        flaticon.io
      -->
    <script
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"
      type="text/javascript"
    ></script>
    <script src="/scripts/login.js" type="text/javascript"></script>
    <script
      src="https://kit.fontawesome.com/dfb093cc90.js"
      crossorigin="anonymous"
      type="text/javascript"
      async
    ></script>

    <% if (typeof error !== 'undefined') { %>
    <script type="text/javascript">
      Toast.fire({
        icon: "error",
        text: `<%= error %>`,
      });
    </script>
    <% } %>
    <script>
      let isOpened = false;
      const navbar = document.querySelector("div.navbar");
      document
        .getElementById("toggle")
        .addEventListener("click", function (event) {
          if (isOpened) {
            navbar.className = "navbar animate__animated animate__fadeOutUp";
            setTimeout(() => {
              navbar.style.display = "none";
            }, 500);
          } else {
            navbar.style.display = "flex";
            navbar.className = "navbar animate__animated animate__fadeInDown";
          }
          isOpened = !isOpened;
        });
    </script>
  </body>
</html>
