<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WasteWise</title>
    <link rel="stylesheet" type="text/css" href="styles/map.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
    <div id="map"></div>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= KAKAO_MAP_JAVASCRIPT_KEY %>&libraries=services,clusterer,drawing"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      type="text/javascript"
    ></script>
    <script
      src="https://kit.fontawesome.com/dfb093cc90.js"
      crossorigin="anonymous"
      type="text/javascript"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
      type="text/javascript"
    ></script>
    <script type="module" src="scripts/main.mjs"></script>
  </body>
</html>
